.about {
  padding: 118px 100px 0;

  @include vp-1439 {
    padding: 99px 45px 100px 45px;
  }
}

.about__wrapper {
  display: flex;
  flex-direction: row;
  gap: 159px;
  margin-bottom: 60px;

  @include vp-1439 {
    gap: 29px;
    flex-direction: column;
    padding-right: 180px;
  }
}

.about__main {
  display: flex;
  flex-direction: column;
  width: 477px;

  @include vp-1439 {
    width: auto;
  }
}

.about__main h2 {
  font-size: 50px;
  font-weight: 400;
  line-height: 50px;
  color: $color-cerulean-blue;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 35px;

  @include vp-1439 {
    margin-top: 0;
    font-size: 34px;
    line-height: 50px;
    margin-bottom: 25px;
  }
}

.about__main p {
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
  color: $color-charcoal;
  margin: 0;

  @include vp-1439 {
    font-size: 20px;
    line-height: 26px;
  }
}

.about__target {
  display: flex;
  flex-direction: column;
  width: 498px;

  @include vp-1439 {
    width: auto;
  }
}

.about__target h3 {
  font-size: 32px;
  font-weight: 400;
  line-height: 36px;
  color: $color-cerulean-blue;
  margin: 0;
  margin-bottom: 33px;

  @include vp-1439 {
    margin-bottom: 23px;
    font-size: 28px;
    line-height: 28px;
  }
}

.about__target p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: $color-charcoal;
  margin: 0;
  margin-bottom: 33px;

  @include vp-1439 {
    line-height: 20px;
    margin-bottom: 36px;
  }
}

.about__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 54px 52px;
  list-style: none;
  background-color: $color-cerulean-blue;
  border-radius: 20px;
  margin: 0;
  padding: 72px 106px 12px 126px;
  z-index: 1;

  @include vp-1439 {
    gap: 42px 50px;
    padding: 62px 60px 40px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
  }
}

.about__item {
  position: relative;
}

.about__item-star {
  z-index: 2;
  position: absolute;
  width: 42px;
  height: 42px;
  background-color: $color-cerulean-blue;
  left: -20px;
  top: -22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__item-star svg {
  fill: $color-default-white;
}

.about__text {
  padding: 25px 60px 0 59px;
  border: 1px solid $color-alabaster;
  border-radius: 16px;
  display: flex;
  flex-direction: row;

  @include vp-1439 {
    flex-direction: column;
    padding: 26px 0 0 29px;
    width: 264px;
  }

  @include vp-767 {
    width: auto;
  }
}

.about__programs {
  min-height: 152px;
  gap: 36px;

  @include vp-1439 {
    gap: 7px;
    min-height: 168px;
  }
}

.about__participants {
  min-height: 152px;
  gap: 24px;

  @include vp-1439 {
    gap: 7px;
    min-height: 168px;
  }
}

.about__grant {
  min-height: 132px;
  gap: 9px;

  @include vp-1439 {
    gap: 7px;
    min-height: 168px;
  }
}

.about__countries {
  min-height: 132px;
  gap: 15px;

  @include vp-1439 {
    gap: 7px;
    min-height: 168px;
  }
}

.about__text h4 {
  font-size: 26px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: $color-default-white;
  text-transform: uppercase;
  margin: 0;
  margin-top: 4px;
  max-width: 171px;

  @include vp-1439 {
    font-size: 20px;
    line-height: 22px;
  }
}

.about__text p {
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  color: $color-alabaster;
  margin: 0;
  max-width: 190px;

  @include vp-1439 {
    max-width: 218px;
  }
}

.about__button {
  @include vp-1439 {
    padding: 0 21px 0 30px;
  }
}
