.button {
  display: flex;
  align-items: center;
  padding: 0 21px 0 29px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  color: $color-cerulean-blue;
  background: $color-default-white;
  border: 1px solid #316DC2;
  border-radius: 30px;
  cursor: pointer;
  text-transform: uppercase;
  transition: opacity $trans-default;
  height: 54px;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  gap: 48px;
  width: max-content;
  letter-spacing: 0.02em;

  @include vp-767 {
    font-size: 12px;
    line-height: 12px;
    padding: 15px 15px 15px 19px;
    height: 42px;
    gap: 32px;
  }
}

.button--primary::after {
  content: "";
  position: absolute;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: $color-cerulean-blue;
  right: 3px;
  z-index: -1;

  @include vp-767 {
    width: 34px;
    height: 34px;
  }
}

.button--primary svg {
  stroke: $color-default-white;
}


