.faq {
  color: $color-cerulean-blue;
  padding: 3px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 117px;
  margin-bottom: 120px;

  @include vp-1439 {
    padding: 0 45px;
    margin-top: 96px;
    margin-bottom: 96px;
  }

  @include vp-767 {
    padding: 2px 15px 0;
    margin-top: 60px;
    margin-bottom: 62px;
  }
}

.faq h2 {
  font-size: 50px;
  font-weight: 400;
  line-height: 50px;
  margin: 0;
  margin-bottom: 67px;

  @include vp-1439 {
    font-size: 34px;
    line-height: 50px;
    margin-bottom: 40px;
  }

  @include vp-767 {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 33px;
  }
}

.faq__accordion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1028px;
  margin: 0 auto;
  gap: 10px;

  @include vp-1439 {
    width: auto;
  }
}

.faq__button {
  border: none;
  background-color: transparent;
  font-size: 28px;
  font-weight: 400;
  line-height: 34px;
  color: $color-cerulean-blue;
  text-align: start;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  max-width: 900px;
  cursor: pointer;

  @include vp-1439 {
    font-size: 22px;
    line-height: 26px;
    max-width: 568px;
  }

  @include vp-767 {
    max-width: 200px;
    font-size: 16px;
    line-height: 18px;
  }

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    border-radius: 16px;
    top: 0;
    left: 0;
  }
}

.faq__button svg {
  position: absolute;
  right: 49px;
  top: 49px;
  z-index: 3;

  @include vp-1439 {
    right: 39px;
    top: 39px;
  }

  @include vp-767 {
    right: 24px;
    top: 29px;
  }
}

.faq__element--fat svg {
  @include vp-767 {
    top: 50%;
    transform: translate(0, -50%);
  }
}

.faq__element--fat.is-active {
  &::after {
    @include vp-767 {
      right: 14px;
      top: 19px;
      transform: unset;
    }
  }
}

.faq__element--fat.is-active svg {
  @include vp-767 {
    top: 29px;
    transform: unset;
  }
}

.faq__element {
  padding: 42px 39px;
  border: 1px solid $color-cerulean-blue;
  border-radius: 16px;
  position: relative;
  min-height: 120px;
  stroke: $color-default-white;

  @include hover-focus {
    stroke: $color-cerulean-blue;
    background-color: $color-default-white;

    &::after {
      background-color: transparent;
      border: 1px solid $color-cerulean-blue;
    }
  }

  @include active {
    stroke: $color-default-white;
    color: $color-endeavour;

    &::after {
      background-color: $color-endeavour;
      border: none;
    }
  }

  @include vp-1439 {
    padding: 36px 29px;
    min-height: 100px;
  }

  @include vp-767 {
    border-radius: 14px;
    padding: 21px 14px;
    min-height: 40px;
  }

  &::after {
    content: "";
    width: 40px;
    height: 40px;
    background-color: $color-cerulean-blue;
    position: absolute;
    border-radius: 50%;
    right: 39px;
    top: 39px;

    @include vp-1439 {
      right: 29px;
      top: 29px;
    }

    @include vp-767 {
      right: 14px;
      top: 19px;
    }
  }
}

.faq__element--fat {
  padding: 32px 39px;

  @include vp-1439 {
    padding: 24px 29px;
  }

  @include vp-767 {
    padding: 19px 14px;

    &::after {
      @include vp-767 {
        right: 14px;
        top: 50%;
        transform: translate(0, -50%);
      }
    }
  }
}

.faq__element.is-active {
  background-color: $color-cerulean-blue;
  color: $color-default-white;
  padding: 42px 39px 32px;
  stroke: $color-cerulean-blue;

  @include hover-focus {
    stroke: $color-default-white;
    background-color: $color-cerulean-blue;

    &::after {
      background-color: transparent;
      border: 1px solid $color-default-white;
    }
  }

  @include active {
    stroke: $color-endeavour;
    background-color: $color-endeavour;
    color: $color-default-white;

    &::after {
      background-color: $color-default-white;
      border: none;
    }
  }

  @include vp-1439 {
    padding: 36px 29px 25px;
  }

  @include vp-767 {
    padding: 21px 14px 14px;
  }

  &::after {
    content: "";
    background-color: $color-default-white;
  }
}

.faq__element [data-faq-toggle="is-opened"] {
  display: none;
}

.faq__element.is-active [data-faq-toggle="is-opened"] {
  display: block;
}

.faq__element [data-faq-toggle="is-closed"] {
  display: block;
}

.faq__element.is-active [data-faq-toggle="is-closed"] {
  display: none;
}

.faq__element.is-active .faq__button {
  color: $color-default-white;
  margin-bottom: 16px;

  @include vp-1439 {
    margin-bottom: 23px;
  }

  @include vp-767 {
    margin-bottom: 17px;
  }
}

.faq__toggle {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-cerulean-blue;
}

.faq__wrapper p {
  margin: 0;
  font-size: 16px;
  line-height: 26px;
  max-width: 690px;

  @include vp-1439 {
    line-height: 20px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 20px;
  }
}
