.footer {
  padding: 0 100px 60px;
  display: flex;
  flex-direction: column;
  gap: 26px;
  position: relative;
  max-width: 1440px;
  margin: 0 auto;

  @include vp-1439 {
    padding: 0 45px 50px;
  }

  @include vp-767 {
    padding: 0 0 101px;
    width: 290px;
    align-items: center;
    gap: 16px;
  }
}

.footer__menu {
  display: flex;
  flex-direction: row;
  align-items: center;

  @include vp-1439 {
    justify-content: space-between;
  }

  @include vp-767 {
    flex-direction: column;
    gap: 12px;
  }
}

.navigation__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  gap: 30.5px;
  margin-left: 52px;

  @include vp-1439 {
    gap: 15.5px;
  }

  @include vp-767 {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    justify-content: center;
    gap: 6px 30px;
  }
}

.navigation__button {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: $color-charcoal;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;

  @include hover-focus {
    color: $color-cerulean-blue;
  }

  @include active {
    color: $color-endeavour;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 20px;
  }
}

.social {
  margin-left: auto;

  @include vp-1439 {
    position: absolute;
    bottom: 50px;
    right: 45px;
  }

  @include vp-767 {
    bottom: 60px;
    right: 50%;
    transform: translate(50%, 0);
  }
}

.social__list {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;

  @include vp-1439 {
    gap: 10px;
  }
}

.social__item a {
  width: 36px;
  height: 36px;
  background-color: $color-cerulean-blue;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: $color-default-white;

  @include hover-focus {
    fill: rgba(255, 255, 255, 0.7);
  }

  @include active {
    fill: $color-default-white;
    background-color: $color-endeavour;
  }

  @include vp-767 {
    width: 26px;
    height: 26px;
  }
}

.social__item svg {
  @include vp-767 {
    width: 11.56px;
    height: 11.56px;
  }
}

.footer__copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @include vp-1439 {
    flex-direction: column-reverse;
    gap: 10px;
  }

  @include vp-767 {
    align-items: center;
    gap: 13px;
  }
}

.footer__copyright span {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: $color-charcoal;
  opacity: 0.6;

  @include vp-1439 {
    font-size: 12px;
    line-height: 12px;
  }
}

.footer__copyright a {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: $color-charcoal;
  border-bottom: 1px solid $color-charcoal;

  @include hover-focus {
    color: $color-cerulean-blue;
    border-color: $color-cerulean-blue;
  }

  @include active {
    color: $color-endeavour;
    border-color: $color-endeavour;
  }

  @include vp-1439 {
    font-size: 12px;
    line-height: 12px;
    width: fit-content;
  }
}
