.news {
  padding: 1px 100px 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 123px;

  @include vp-1439 {
    padding: 0 45px 61px;
    margin-top: 98px;
    margin-bottom: 4px;
  }

  @include vp-767 {
    padding: 2px 0 50px 15px;
    margin-top: 60px;
    margin-bottom: 0;
  }
}

.news h2 {
  font-size: 50px;
  font-weight: 400;
  line-height: 50px;
  margin: 0;
  color: $color-cerulean-blue;
  margin-bottom: 46px;

  @include vp-1439 {
    font-size: 34px;
    line-height: 50px;
    margin-bottom: 31px;
  }

  @include vp-767 {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 27px;
    padding-right: 15px;
  }
}

.news__nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;

  @include vp-1439 {
    gap: 10px;
    margin-bottom: 30px;
  }

  @include vp-767 {
    gap: 12px;
    margin-bottom: 23px;
  }
}

.news__nav {
  @include vp-767 {
    width: 100%;
  }
}

.news__nav-item {
  width: fit-content;
}

.news__nav-button {
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: $color-cerulean-blue;
  background-color: transparent;
  padding: 11px 25px;
  text-transform: uppercase;
  opacity: 0.6;
  border: 1px solid transparent;
  border-radius: 20px;
  cursor: pointer;

  @include hover-focus {
    opacity: 1;
  }

  @include vp-1439 {
    padding: 11px 19px;
  }

  @include vp-767 {
    font-size: 12px;
    line-height: 12px;
    padding: 8px 13px;
  }
}

.news__nav-button.is-active {
  border: 1px solid $color-cerulean-blue;
  border-radius: 20px;
  text-transform: uppercase;
  opacity: 1;
}

.news__list {
  padding: 0;
  margin: 0;
  list-style: none;
  max-width: 1240px;

  @include vp-1439 {
    max-width: 678px;
    max-height: 730px;
  }

  @include vp-767 {
    max-width: 290px;
    padding-right: 15px;
  }
}

.news__ratio-wrapper {
  position: relative;
  min-width: 286px;
  width: auto;
  background-color: $color-alabaster;
}

.news__ratio-wrapper img {
  @include vp-1439 {
    width: 324px;
    height: 350px;
  }

  @include vp-767 {
    width: 290px;
    height: 330px;
    border-radius: 12px;
  }
}

.news__ratio-wrapper:nth-child(2n) img {
  @include vp-767 {
    width: 290px;
    height: 240px;
    border-radius: 12px;
  }
}

.news__item {
  position: absolute;
  bottom: 0;
}

.news__ratio-wrapper--narrow .news__item {
  bottom: 0;
}

.news__item span {
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.01em;
  color: $color-cerulean-blue;
  background-color: $color-alabaster;
  margin: 0;
  border-radius: 0 12px 0 0;
  display: block;
  width: min-content;
  padding: 11px 12px 4px 0;

  @include vp-767 {
    padding: 10px 12px 4px 0;
  }

  @include angle;

  &::after {
    width: 16px;
    height: 16px;
    right: -16px;
    top: 11px;
    background-color: $color-alabaster;
  }
}

.news__item .news__angle {
  background-color: transparent;

  @include angle;

  &::after {
    width: 16px;
    height: 16px;
    left: 0;
    top: -1px;
    background-color: $color-alabaster;
  }
}

.news__item h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  color: $color-cerulean-blue;
  background-color: $color-alabaster;
  margin: 0;
  border-radius: 0 12px 0 0;
  padding: 13px 0 2px;

  @include vp-1439 {
    font-size: 20px;
    line-height: 24px;
    padding: 5px 0 1px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 18px;
    padding: 10px 0 4px;
    width: 200px;
  }

  @include angle;

  &::after {
    width: 16px;
    height: 16px;
    right: -16px;
    bottom: 0;
    background-color: $color-alabaster;
  }
}

.news__ratio-wrapper--wide .news__item h3 {
  width: 291px;

  @include vp-1439 {
    width: 207px;
  }

  @include vp-767 {
    width: 200px;
  }
}

.news__ratio-wrapper--narrow .news__item h3 {
  width: 214px;
  padding: 5px 0 0;


  @include vp-1439 {
    width: 207px;
    padding: 5px 0 1px;
  }

  @include vp-767 {
    width: 200px;
    padding: 10px 0 4px;
  }

  @include angle;

  &::after {
    width: 16px;
    height: 16px;
    right: -16px;
    bottom: 0;
    background-color: $color-alabaster;
  }
}

.news__item p {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: $color-charcoal;
  margin: 0;

  @include vp-1439 {
    line-height: 20px;
  }

  @include vp-767 {
    font-size: 12px;
    line-height: 14px;
  }
}

.news__ratio-wrapper--wide .news__description {
  width: 389px;

  @include vp-1439 {
    width: 240px;
  }

  @include vp-767 {
    width: 263px;
  }
}

.news__ratio-wrapper--narrow .news__description {
  width: 240px;

  @include vp-1439 {
    width: 240px;
  }

  @include vp-767 {
    width: 263px;
  }
}

.news__description {
  display: flex;
  flex-direction: row;
  background-color: $color-alabaster;
  align-items: center;
  padding: 9px 0 12px;
  border-radius: 0 12px 0 10px;
  gap: 16px;

  @include vp-1439 {
    padding: 7px 0 10px;
  }

  @include vp-767 {
    width: 263px;
    padding: 13px 0 9px;
  }

  @include angle;

  &::after {
    width: 16px;
    height: 16px;
    right: -16px;
    bottom: 0;
    background-color: $color-alabaster;
  }
}

.news__description-button {
  justify-content: center;
  flex-shrink: 0;
  margin-right: 18px;
  cursor: pointer;

  @include vp-767 {
    margin-right: 10px;
  }
}

.news__button--prev::after {
  display: none;
}

.news__button--next::after {
  display: none;
}

.swiper-button.news__button svg {
  stroke: $color-cerulean-blue;
  width: 8px;
  height: 8px;
}

.swiper-button-disabled.news__button svg {
  stroke: $color-mischka;
}

.news__button--prev svg {
  transform: rotate(-135deg);
}

.news__button--next svg {
  transform: rotate(45deg);
}

.news__button--prev {
  left: 97px;
  top: auto;
  bottom: 8px;
  width: 22px;
  height: 22px;

  @include vp-1439 {
    top: auto;
    bottom: 8px;
    left: 45px;
  }

  @include vp-767 {
    bottom: 1px;
    left: 15px;
  }
}

.news__button--next {
  left: auto;
  right: 98px;
  top: auto;
  bottom: 8px;
  width: 22px;
  height: 22px;

  @include vp-1439 {
    top: auto;
    bottom: 8px;
    right: 45px;
  }

  @include vp-767 {
    bottom: 1px;
    right: 15px;
  }
}

.news__swiper-pagination .swiper-pagination-bullet {
  color: $color-cerulean-blue;
  background-color: transparent;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  opacity: 0.5;

  @include hover-focus {
    opacity: 1;
    border-radius: 50%;
    border: 1px solid $color-cerulean-blue;
  }

  @include active {
    opacity: 1;
    color: $color-default-white;
    background-color: $color-endeavour;
  }

  @include vp-767 {
    width: 26px;
    height: 26px;
    font-size: 14px;
    line-height: 14px;
  }
}

.news__swiper-pagination .swiper-pagination-bullet-active {
  color: $color-default-white;
  background-color: $color-cerulean-blue;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;

  @include vp-767 {
    width: 26px;
    height: 26px;
    font-size: 14px;
    line-height: 14px;
  }
}

.news__swiper-pagination {
  top: auto;
  left: auto;
  right: auto;
  bottom: 3px;

  @include vp-767 {
    bottom: 0;
  }
}

.news__button {
  @include hover-focus {
    background-color: $color-default-white;
    border-radius: 50%;
  }

  @include active {
    opacity: 0.7;
  }
}


.news__description .button span {
  position: absolute;

  &::after {
    display: none;
  }
}
