.programs {
  padding: 0 100px 46px;
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 122px;
  margin-bottom: 120px;

  @include vp-1439 {
    padding: 0 0 46px 45px;
    margin-top: 0;
    margin-bottom: 101px;
  }

  @include vp-767 {
    padding: 0 15px 58px;
    margin-bottom: 58px;
  }
}

.programs__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @include vp-1439 {
    padding: 0 45px 0 0;
  }

  @include vp-767 {
    flex-direction: column;
    padding: 0;
  }
}

.programs h2 {
  font-size: 50px;
  font-weight: 400;
  line-height: 50px;
  color: $color-cerulean-blue;
  margin: 0;
  margin-top: 4px;
  margin-bottom: 30px;

  @include vp-1439 {
    font-size: 34px;
    line-height: 50px;
    margin-top: 1px;
    margin-bottom: 27px;
  }

  @include vp-767 {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 16px;
    margin-top: 0;
    padding-top: 1px;
  }
}

.programs__list {
  list-style: none;
  padding: 0;
}

.swiper-button.programs__button {
  background-color: none;
  width: 22px;
  height: 22px;

  @include hover-focus {
    background-color: $color-default-white;
    border-radius: 50%;
  }

  @include active {
    opacity: 0.7;
  }
}

.swiper-button.programs__button svg {
  stroke: $color-cerulean-blue;
  width: 8px;
  height: 8px;
}


.swiper-button-disabled.programs__button svg {
  stroke: $color-mischka;
}

.programs__button--prev::after {
  display: none;
}

.programs__button--prev svg {
  transform: rotate(-135deg);
}

.programs__button--next svg {
  transform: rotate(45deg);
}

.programs__button--prev {
  left: auto;
  right: 132px;
  bottom: 0;
  width: 22px;
  height: 22px;
  top: auto;

  @include vp-1439 {
    top: auto;
    right: 77px;
  }

  @include vp-767 {
    right: 45px;
    top: 21px;
  }
}

.programs__button--next {
  left: auto;
  right: 100px;
  bottom: 0;
  width: 22px;
  height: 22px;
  top: auto;

  @include vp-1439 {
    top: auto;
    right: 45px;
  }

  @include vp-767 {
    right: 15px;
    top: 21px;
    bottom: auto;
  }
}

.programs__button--next::after {
  display: none;
}

.programs__ratio-wrapper {
  position: relative;
  z-index: 1;
  background-color: $color-alabaster;

  @include vp-1439 {
    width: auto;
  }
}

.programs__ratio-wrapper img {
  @include vp-1439 {
    width: 324px;
    height: 420px;
  }

  @include vp-767 {
    width: 290px;
    height: 400px;
  }
}

.programs__scrollbar.swiper-scrollbar-horizontal {
  max-width: 1134px;
  height: 2px;
  background: rgb(49, 109, 194, 0.2);
  left: 7%;
  bottom: 11px;

  @include vp-1439 {
    max-width: 560px;
    bottom: 11px;
    left: 45px;
  }

  @include vp-767 {
    display: none;
  }
}

.programs__scrollbar .swiper-scrollbar-drag {
  background: rgb(49, 109, 194, 1);
}

.programs__item {
  position: absolute;
  z-index: 2;
  bottom: 20px;
  left: 20px;

  @include vp-767 {
    left: 10px;
    bottom: 18px;
  }
}

.programs__item h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  color: $color-cerulean-blue;
  margin: 0;
  background-color: $color-default-white;
  border-radius: 12px 12px 0 0;
  padding: 13px 0 2px 18px;
  width: 194px;

  @include vp-1439 {
    font-size: 20px;
    padding: 13px 0 1px 18px;
    line-height: 24px;
    width: 173px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 18px;
    padding: 18px 0 6px 18px;
    width: 146px;
  }

  @include angle;

  &::after {
    width: 18px;
    height: 18px;
    right: -18px;
    bottom: 0;
  }
}

.programs__item p {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: $color-charcoal;
  margin: 0;
  width: 239px;
  margin-top: -3px;

  @include vp-1439 {
    font-size: 14px;
    line-height: 20px;
    width: 181px;
  }

  @include vp-767 {
    font-size: 12px;
    line-height: 14px;
    margin-top: -1px;
  }
}

.programs__item-lower {
  background-color: $color-default-white;
  display: flex;
  flex-direction: row;
  width: 321px;
  border-radius: 0 12px 12px;
  padding: 0 18px;
  min-height: 79px;
  align-items: center;
  gap: 16px;

  @include vp-1439 {
    width: auto;
    min-height: 77px;
  }

  @include vp-767 {
    min-height: 69px;
    padding: 0 18px;
    gap: 23px;
  }
}

.programs__item-button {
  margin-top: -3px;
}


.programs__wrapper .programs__button {
  background-color: $color-alabaster;

  @include vp-767 {
    position: absolute;
    bottom: 0;
    padding: 15px 15px 15px 29px;
    gap: 43px;
  }
}
