.reviews {
  padding: 0 100px 182px;
  position: relative;

  @include vp-1439 {
    padding: 0 0 157px 45px;
  }

  @include vp-767 {
    padding: 0 15px 59px;
  }
}

.reviews h2 {
  font-size: 50px;
  font-weight: 400;
  line-height: 50px;
  margin: 0;
  color: $color-cerulean-blue;
  margin-bottom: 46px;
  margin-top: 4px;
  padding-left: 3px;

  @include vp-1439 {
    font-size: 34px;
    line-height: 50px;
    margin-top: 3px;
    padding-left: 0;
    margin-bottom: 41px;
  }

  @include vp-767 {
    font-size: 20px;
    line-height: 20px;
    margin-top: 1px;
    margin-bottom: 31px;
  }
}

.reviews__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.reviews__ratio-wrapper {
  padding: 49px 49px 30px 49px;
  border: 1px solid $color-cerulean-blue;
  border-radius: 16px;
  min-height: 456px;

  @include vp-1439 {
    width: 560px;
    min-height: 395px;
  }

  @include vp-767 {
    padding: 30px 14px 25px;
  }
}

.reviews__details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;

  @include vp-767 {
    flex-direction: column;
    align-items: start;
    gap: 11px;
    margin-bottom: 24px;
  }
}

.reviews__person {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;

  @include vp-767 {
    gap: 10px;
  }
}

.reviews__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 23px;

  @include vp-1439 {
    margin-top: 3px;
    gap: 27px;
  }

  @include vp-767 {
    gap: 25px;
  }
}

.reviews__person h3 {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: $color-cerulean-blue;
  margin: 0;

  @include vp-1439 {
    font-size: 20px;
    line-height: 24px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 18px;
  }
}

.reviews__details h4 {
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.01em;
  color: $color-cerulean-blue;
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 6px;

  @include vp-1439 {
    margin-bottom: 4px;
  }

  @include vp-767 {
    margin-bottom: 7px;
  }
}

.reviews__details p {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: $color-charcoal;
  margin: 0;

  @include vp-1439 {
    line-height: 20px;
    letter-spacing: 0;
  }

  @include vp-767 {
    font-size: 12px;
    line-height: 14px;
  }
}

.reviews__program {
  display: flex;
  flex-direction: column;
}

.reviews__date {
  display: flex;
  flex-direction: column;
}

.reviews__item h5 {
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  color: $color-cerulean-blue;
  margin: 0;
  margin-bottom: 14px;

  @include vp-1439 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 16px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 15px;
  }
}

.reviews__item p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: $color-charcoal;
  margin: 0;

  @include vp-1439 {
    line-height: 20px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 20px;
  }
}

.reviews__button--prev::after {
  display: none;
}

.reviews__button--prev svg {
  transform: rotate(-135deg);
}

.reviews__button--next svg {
  transform: rotate(45deg);
}

.reviews__button--prev {
  width: 22px;
  height: 22px;
  left: auto;
  right: 132px;
  top: 614px;

  @include vp-1439 {
    top: auto;
    right: 77px;
    bottom: 100px;
  }

  @include vp-767 {
    top: 20px;
    right: 45px;
    bottom: auto;
  }
}

.reviews__button--next {
  width: 22px;
  height: 22px;
  left: auto;
  right: 100px;
  top: 614px;

  @include vp-1439 {
    top: auto;
    right: 45px;
    bottom: 100px;
  }

  @include vp-767 {
    top: 20px;
    right: 15px;
    bottom: auto;
  }
}

.reviews__button--next::after {
  display: none;
}

.reviews__scrollbar.swiper-scrollbar-horizontal {
  max-width: 1134px;
  height: 2px;
  background: rgb(49, 109, 194, 0.2);
  left: 7%;
  bottom: 131px;

  @include vp-1439 {
    max-width: 560px;
    left: 45px;
    bottom: 111px;
  }

  @include vp-767 {
    display: none;
  }
}

.reviews__scrollbar .swiper-scrollbar-drag {
  background: rgb(49, 109, 194, 1);
}

.reviews__button svg {
  stroke: $color-cerulean-blue;
  width: 8px;
  height: 8px;
}

.reviews__person img {
  @include vp-767 {
    width: 60px;
    height: 60px;
  }
}
