@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      @content;
    }
  }
}

@mixin focus {
  outline: none;

  &:focus(.focus-visible) {
    @content;
  }
}

@mixin active {
  &:active:not(.focus-visible) {
    @content;
  }
}


@mixin hover-focus {
  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      @content;
    }
  }

  &:focus(.focus-visible) {
    @content;
  }
}

@mixin vp-1440 {
  @media (min-width: ($vp-1440)) {
    @content;
  }
}

@mixin vp-1439 {
  @media (max-width: ($vp-1440 - 1px)) {
    @content;
  }
}

@mixin vp-767 {
  @media (max-width: ($vp-768 - 1px)) {
    @content;
  }
}

@mixin angle {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    mask-image: url("../img/angle.svg");
    mask-repeat: no-repeat;
    mask-size: cover;
    background-color: $color-default-white;
  }
}

@mixin check {
  &::before {
    position: absolute;
    content: "";
    mask-image: url("../img/check.svg");
    mask-repeat: no-repeat;
    mask-size: cover;
    background-color: $color-cerulean-blue;
    z-index: 2;
    width: 10px;
    height: 10px;
    display: block;
  }
}
